.version.hutch /* version checker */
{
	color: #000016;
	background-color: #D29D91;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u857
{
	z-index: 2;
	width: 1166px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -103px;
}

#u2420
{
	z-index: 4;
	width: 50px;
	min-height: 54px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 88px;
}

#u692-6
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 225px;
}

#u693-22
{
	z-index: 11;
	width: 640px;
	min-height: 82px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 160px;
}

#u693-11,#u693-18
{
	font-style: italic;
}

#u697
{
	z-index: 33;
	width: 640px;
	min-height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 150px;
}

#u707-5
{
	z-index: 34;
	width: 520px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 824px;
	left: 270px;
}

#u893-4
{
	z-index: 39;
	width: 520px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 921px;
	left: 150px;
}

#u894-4
{
	z-index: 43;
	width: 520px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1024px;
	left: 270px;
}

#u895-4
{
	z-index: 47;
	width: 520px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1107px;
	left: 150px;
}

#u896-4
{
	z-index: 51;
	width: 520px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1207px;
	left: 270px;
}

#u860
{
	z-index: 55;
	width: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 789px;
	left: 153px;
}

#u869
{
	z-index: 57;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 875px;
	left: 670px;
}

#u874
{
	z-index: 59;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 975px;
	left: 150px;
}

#u879
{
	z-index: 61;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1068px;
	left: 670px;
}

#u884
{
	z-index: 63;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1167px;
	left: 150px;
}

#u897-4
{
	z-index: 65;
	width: 634px;
	min-height: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1298px;
	left: 150px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

