.version.throne_room /* version checker */
{
	color: #0000FD;
	background-color: #0922E6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 482px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu2205
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 53px;
}

#u2205
{
	z-index: 2;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 16px;
}

#u2214
{
	z-index: 4;
	width: 994px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1464
{
	z-index: 6;
	width: 99px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 857px;
	background: transparent url("../images/button-layer%201.png") no-repeat left top;
	background-size: contain;
}

#u1464:hover
{
	width: 99px;
	height: 75px;
	min-height: 0px;
	margin: 138px -10000px 0px 0px;
	background: transparent url("../images/button-layer%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u1477
{
	z-index: 7;
	width: 99px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 36px;
	background: transparent url("../images/buttonl-layer%201.png") no-repeat left top;
	background-size: contain;
}

#u1477:hover
{
	width: 99px;
	min-height: 0px;
	margin: 138px -10000px 0px 0px;
	background: transparent url("../images/buttonl-layer%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u2418
{
	z-index: 15;
	width: 50px;
	min-height: 54px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 16px;
}

#u1490
{
	z-index: 8;
	width: 99px;
	height: 75px;
	-webkit-transform: matrix(0,1,-1,0,87,-12);
	-ms-transform: matrix(0,1,-1,0,87,-12);
	transform: matrix(0,1,-1,0,87,-12);
	position: relative;
	margin-right: -10000px;
	margin-top: 482px;
	left: 447px;
	background: transparent url("../images/button-layer%201.png") no-repeat left top;
	background-size: contain;
}

#u1490:hover
{
	width: 99px;
	height: 75px;
	min-height: 0px;
	margin: 482px -10000px 0px 0px;
	background: transparent url("../images/button-layer%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u1835
{
	z-index: 9;
	width: 71px;
	height: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 462px;
}

.ie #u1835
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2341
{
	z-index: 10;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 344px;
}

#u2346-4
{
	z-index: 11;
	width: 174px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	font-size: 21px;
	line-height: 25px;
	font-family: gloria-hallelujah, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 410px;
}

#u2334
{
	z-index: 16;
	width: 84px;
	height: 67px;
	margin-right: -10000px;
	left: 1016px;
}

#u2334:hover
{
	width: 84px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

